@import "tailwindcss";
@plugin '@tailwindcss/typography';

@theme {
  --font-serif: "STIX Two Text", ui-serif;
}

a {
  @apply decoration-1 decoration-stone-400 hover:decoration-stone-600 underline underline-offset-[2.5px] transition-colors;
}

#prose-content {
  font-size: 17px;
}

#prose-content p {
  @apply my-5 text-stone-950;
}

#prose-content h2 {
  @apply mt-12 mb-2 font-medium text-xl;
}

#prose-content h3 {
  @apply mt-8 mb-2 font-medium text-lg;
}

#prose-content strong {
  @apply font-medium;
}

#prose-content em {
  @apply font-medium;
}

#prose-content ol {
  @apply space-y-2 pl-6 list-decimal;
}

#prose-content ul {
  @apply space-y-1 pl-6 list-disc;
}

#prose-content li {
  @apply pl-1;
}

#prose-content img {
  @apply my-4 border border-stone-200 rounded-md;
}

#prose-content > p > img + em {
  @apply text-stone-500 text-sm;
}

/* code block titles */
.code-title {
  @apply bg-stone-50 px-3 py-1.5 border border-stone-200 border-b-0 rounded-t-md font-mono text-stone-700 text-xs;
}

.code-title + .highlight {
  @apply mt-0;
}

.code-title + .highlight > pre.highlight {
  @apply mt-0 !rounded-t-none;
}

/* code blocks */
#prose-content pre.highlight {
  @apply bg-stone-50/10 border border-stone-200 rounded-md text-[13px];
}

/* inline code */
.prose p code::before,
.prose li code::before {
  content: "";
}

.prose p code::after,
.prose li code::after {
  content: "";
}

.prose p code,
.prose li code {
  @apply bg-stone-100 px-1.5 py-0.5 border border-stone-200 rounded-sm font-medium text-sm;
}

.prose blockquote ::before {
  content: "";
}

.prose blockquote ::after {
  content: "";
}

.prose blockquote * ::before {
  content: "";
}

.prose blockquote * ::after {
  content: "";
}

/* footnotes / sidenotes */
.sidenote {
  @apply block w-full text-stone-600 text-sm;
}

.sidenote p {
  @apply !my-0;
}

.sidenote a {
  @apply decoration-1 decoration-stone-400 hover:decoration-stone-600 underline underline-offset-[2.5px] transition-colors;
}

@media (min-width: 1400px) {
  .sidenote {
    @apply top-[var(--footnote-top)] right-[-320px] absolute w-64;
  }
}
