<%#
  Wraps markdown_layout.erb with layout.erb
  (this gets inserted into the "yield" in layout.erb)
%>
<% wrap_layout :layout do %>
  <h1 class="mb-1 font-medium text-stone-950 text-xl md:text-2xl leading-tight"><%= current_page.data.title %></h1>
  <% if current_page.data.date%>
    <p class="mb-6 text-stone-500"><%= format_date(current_page.data.date) %> — Harrison Broadbent</p>
  <% end %>
  <div id="prose-content" class="relative prose">
    <%= yield %>
  </div>
<% end %>
