<% pages = {
    home: "/",
		blog: "/blog",
		popular: "/blog",
    about: "/about",
  } %>
<div class="flex items-center gap-x-4 mb-8">
  <% pages.each do |name, path|%>
    <%= link_to name, path, class: "text-stone-500 hover:text-stone-700 no-underline" %>
  <% end%>
</div>
